body{
    background-color: skyblue;
    font-family: 'Montserrat', sans-serif;
}

#prostor {
    display: flex;
    flex-direction: column;
    min-width: 600px;
}
#prostor h2 {
    text-align: center;
}
#prostor li {  
    list-style-type: none;
    text-transform: uppercase;
}
#prostor img{
    width: 25px;
    height: 25px;
}
#prostor ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    flex-basis: 1;
}
#prostor ul:nth-child(2n){
    background-color: lightblue;
}
#prostor ul div{
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}
#red {
    color: red;
}
#green {
    color: green;
}
