body{
    background-color: rgb(19, 122, 163);
    font-family: 'Montserrat', sans-serif;
color: white;
}

#prostor {
    display: flex;
    flex-direction: column;   
    text-align: center;
}
#prostor h2 {
    text-align: center;
}
#prostor li {  
    list-style-type: none;
    text-transform: uppercase;
}
#prostor img{
    width: 25px;
    height: 25px;
}
#prostor ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    flex-basis: 1;
}
#prostor ul:nth-child(2n){
    background-color: rgb(3, 149, 197);
}
#prostor ul div{
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}
#red {
    color: red;
    font-weight: bolder;
}
#green {
    color: rgb(0, 235, 0);
    font-weight: bolder;
}
#orange {
    color: orange;   
    font-weight: bolder;
}
